<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Internet of Soviets</title>
    <script>
      function deviceAction(dvid) {
        var http = new XMLHttpRequest()
        http.open('post', '/do_action')
        http.send(JSON.stringify({ dvid: dvid }))
      }
    </script>
  </head>
  <body>
    <div>
      Greetings, <%= urname %>!
      <a href='/signout'>Sign Out</a>
    </div>
    <div>
      <a href='/register'>Register a device</a>
    </div>
    <div>
      <table>
        <caption>Your Devices</caption>
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Status</td>
            <td>Time</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < devices.length; ++i) { %>
          <tr>
            <td>#<%= devices[i].dvid %></td>
            <td>"<%= devices[i].dvname %>"</td>
            <td>S: <%= devices[i].sensor %></td>
            <td>T: <%= devices[i].sensorUpdated %></td>
            <td><input type='submit' value='Do something'
              onclick='deviceAction(<%= devices[i].dvid %>)'></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
